/*
* @Author: ASUS
* @Date:   2017-03-31 15:16:14
* @Last Modified by:   Administrator
* @Last Modified time: 2017-04-19 22:39:58
*/
.quanbu{
	width: 100%;
	overflow: hidden;
}
.tatle{
	width: 100%;
	height: 1rem;
	background: linear-gradient(90deg,#8e83ca,#23be95);
	position: relative;
}
.zuo{
	width: 0.54rem;
	height: 0.6rem;
	position: absolute;
	top: 0.22rem;
	left: 0.2rem;
	background-image: url('../img/images/fanhui.png');
	background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.zhong{
	width: 3rem;
	height: 100%;
	margin: 0 auto;
	/* background: red; */
}
.zhong div{
	padding-top: 0.02rem;
    font-size: 0.28rem;
    color: white;
    text-align: center;
}
.zhong .dingdan{
	font-size: 0.2rem;
    color: white;
}
.zhong .hang{
	height: 0.1rem;
	width: 3rem;
	float: left;
	margin-left: 0.18rem;
	/* background-color: red; */
	position: relative;
}
.zhong .hang div{
	text-align: center;
	float: left;
	
}
.hang .dian1{
    position: absolute;
    left: 0.5rem;
    bottom:-0.03rem;
    font-size: 0.05rem;
    color: white;
}
.hang .dian2{
    position: absolute;
    right: 1.2rem;
    bottom:-0.03rem;
    font-size: 0.05rem;
    color: white;
}
.zhong .hang .lan{
	width: 0.1rem;
	height: 0.1rem;
	float: left;
	border-radius: 50%;
	background-color: blue;
	 position: absolute;
    left: 1.2rem;
    top: 0.04rem;
}
.zhong .hang .lv{
	width: 0.1rem;
	height: 0.1rem;
	float: left;
	border-radius: 50%;
	background-color: green;
	 position: absolute;
    right: 1.9rem;
    top: 0.04rem;
}
.you{
	font-size: 0.24rem;
	color: white;
	position: absolute;
	top: 0.32rem;
	right: 0.3rem;
}
.dibu{
	width: 100%;
	height: 1rem;
	/* overflow: hidden; */
	position: relative;
	float: left;
}
.dibu .tu{
	width: 0.73rem;
	height: 0.73rem;
	background-image: url('../img/images/55.png');
	background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    float: left;
    position: absolute;
    left: 2.2rem;
    top: 0.1rem;
}
.dibu .zhifu{
	width: 2rem;
	height: 0.6rem;
	position: absolute;
    right: 2.6rem;
    top: 0.1rem;
    /* background: red; */
    float: left;
    
}
.dibu .zhifu p{
	font-size: 0.25rem;
	color: #4a4d55;
}
.dibu .zhifu .span{
	font-size: 0.25rem;
	color: #b3b4b6;
}
.qianshu{
	width: 4.09rem;
	height: 0.73rem;
	background-image: url('../img/images/shumu_03.png');
	background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin: 0 auto;
    margin-top: 1rem;
}
.daijinquan{
	width: 100%;
	height: 1rem;
}
.daijinquan div{
	width: 2.85rem;
	height: 100%;
	margin: 0 auto;
	position: relative;
}
.daijinquan div ul li{
	float: left;
	margin-right: 0.04rem;
}
.daijinquan div ul li .zise{
	width: 0.08rem;
	height: 0.08rem;
	border-radius: 50%;
	background: #d860ff;
	margin-top: 0.5rem;
}
.daijinquan div ul li .lanse{
	width: 0.08rem;
	height: 0.08rem;
	border-radius: 50%;
	background: #24c894;
    margin-top: 0.5rem;

}
.fukuanfangshi{
	width: 7.03rem;
	height: 1.3rem;
	
	margin: 0.2rem 0;
	margin-left: 0.24rem;
	border-radius: 0.2rem;
	margin-top: 0.25rem;
	box-shadow: 0 0rem 0.3rem 0rem rgba(0, 0, 0, 0.2);
	
}
.fukuanfangshi ul{
	position: relative;
	width: 7.03rem;
	height: 1.3rem;
	float: left;
}
img{
	width: 100%;
	height: 100%;
}
.fukuanfangshi ul li{
	float: left;
}
.fukuanfangshi ul .li1{
	width: 1.1rem;
	/* height: 100%; */
	margin-top: 0.06rem;
	margin-right: 0.1rem;
}
.fukuanfangshi ul .li2{
	width: 0.01rem;
	height: 0.85rem;
	background: black;
	margin-top: 0.22rem;
	margin-right: 0.3rem;
}
.fukuanfangshi ul .li3{
    width: 5.5rem;
    padding-top: 0.2rem;
}
.fukuanfangshi ul .li3 .hezi{
	width: 1rem;
	height: 0.37rem;
	background: #fd293f;
	border-radius: 1.1rem;
	position: absolute;
	right: 2.1rem;
	top: 0.26rem;
}
.fukuanfangshi ul .li3 .hezi1{
	width: 1rem;
	height: 0.37rem;
	background: linear-gradient(90deg,#8e83ca,#23be95);
	border-radius: 1.1rem;
	position: absolute;
	right: 2.1rem;
	top: 0.26rem;
}
.fukuanfangshi ul .li3 .edu{
	float: right;
	position: absolute;
	right: 0.4rem;
    top: 0.25rem;
}
.fukuanfangshi ul .li4{
	width: 0.17rem;
	height: 0.27rem;
	/* background: red; */
	background-image: url('../img/jiantou.jpg');
	background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    right: 0.2rem;
    top: 0.52rem;
}
.d3{
	width: 100%;
	height: 1rem;
	margin-left: 0.38rem;
}
.di{
	width: 92%;
	height: 1.1rem;
	margin: 0 auto;
	/* background: red; */
}
.di .zuo1{
	width: 3.4rem;
	height: 1.1rem;
	background-image: url('../img/images/41.png');
	background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    float: left;
}
.di .you1{
	width: 3.4rem;
	height: 1.1rem;
	background-image: url('../img/images/43.png');
	background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    float:right;
}