.box{
	width: 100%;
	height: auto;
	overflow: hidden;
}
.nei{
	width: 100%;
	height: 13rem;
	background: url(../img/2017-04-01_094629.jpg) center center no-repeat;
	background-size:100%;
	position: relative;	
}
.zhezhao{
	width: 100%;
	height: 13rem;
	background: rgba(0, 0, 0, .7);
	position: absolute;
	top: 0;
	left: 0;
}
.xiao{
	width: 4.2rem;
	height: 4.2rem;
	background: url(../img/26.png) center center no-repeat;
	background-size: 100%;
	position: absolute;
	left: 20%;
	top: 10%;
}
