header .header-top {
	width: 100%;
	height: 40px;
	background: #444;
}

header a {
	color: white;
}

header a:hover {
	opacity: 0.6;
}

.header-top main {
	height: 100%;
	line-height: 40px;
	margin: 0 auto;
	text-align: right;
	color: #a8a8aa;
	font-size: 12px;
}

.header-nav {
	width: 100%;
	height: 44px;
	background: rgba(0, 0, 0, 0.8);
}

.header-nav main {
	padding: 0 24px;
	height: 100%;
	margin: 0 auto;
}

.header-nav main ul {
	text-align: justify;
	line-height: 44px;
	font-size: 14px;
	color: white;
}

.header-nav main ul:after {
	content: "";
	display: inline-block;
	height: 0;
	width: 100%;
}

.header-nav main ul li {
	display: inline-block;
}

.banner {
	width: 100%;
	height: 544px;
	/* background: blue;	 */
	position: relative;
	overflow: hidden;
}

.banner-title1 {
	text-align: center;
	padding-top: 36px;
	font-size: 30px;
}

.banner-title2 {
	text-align: center;
	margin-top: 10px;
	font-size: 40px;
}

.banner-img {
	width: 100%;
	height: 400px;
	/* background: yellow; */
	position: absolute;
	bottom: 0;
	background-image: url('../img/macbookpro_large.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.banner-img1 {
	background-image: url('../img/iphone_alt_large.jpg');
}

.bannerleft,
.bannerright {
	width: 150px;
	height: 555px;
	position: absolute;
	/* background: pink; */
	margin: auto;
	top: 0;
	z-index: 999;
	cursor: pointer;
}

.bannerleft {
	left: 0;
}

.bannerright {
	right: 0;
}

.banner-jiantou1,
.banner-jiantou2 {
	width: 64px;
	height: 64px;
	border-radius: 50%;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	background: black;
	text-align: center;
	line-height: 64px;
	color: white;
	font-size: 32px;
	opacity: 0;
}

.banner-jiantou1 {
	left: 15px;
}

.banner-jiantou2 {
	right: 15px;
}

.bannerleft:hover .banner-jiantou1 {
	opacity: 0.1;
}

.bannerright:hover .banner-jiantou2 {
	opacity: 0.1;
}

.picture {
	width: 100%;
	overflow: hidden;
	margin-top: 2px;
	background: pink;
}

.lunbotiao {
	width: 180px;
	height: 2px;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 32px;
	margin: auto;
	/* background: pink; */
	z-index: 999;
}

.lunbotiao1 {
	width: 50px;
	height: 2px;
	margin-left: 5px;
	margin-right: 5px;
	background: white;
	opacity: 0.2;
	float: left;
}
.lunbotiao1.active{
	opacity: 0.8;
}

.picture {
	width: 100%;
	overflow: hidden;
}

.picture ul li {
	display: inline-block;
	height: 200px;
	/* background: yellow; */
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	float: left;
	border: 1px solid white;
}

footer {
	width: 100%;
	overflow: hidden;
	background: #f2f2f2;
}

.middle {
	max-width: 980px;
	border-bottom: 1px solid #d6d6d6;
	margin: 0 auto;
	padding: 20px 0;
}

.middlewz {
	font-size: 9px;
	line-height: 12px;
}

.fuwu {
	max-width: 980px;
	overflow: hidden;
	margin: 0 auto;
}

.fuwu-max li {
	display: inline-block;
	float: left;
	width: 20%;
	height: 280px;
	/* background: pink; */
	padding: 20px 0 40px 0;
	font-size: 10px;
	line-height: 20px;
}

footer a:hover {
	text-decoration: underline;
}

.fuwu-min li {
	line-height: 30px;
	font-size: 9px;
	border-bottom: 1px solid #d6d6d6;
	position: relative;
	cursor: pointer;
}

.sublist {
	display: none;
}

.sublist a {
	padding-left: 20px;
}

.fuwu-min span {
	float: right;
}

.middle a {
	color: blue;
}

.weibu {
	max-width: 980px;
	overflow: hidden;
	margin: 0 auto;
	font-size: 9px;
	padding: 10px 0 25px 0;
}


/* >1024 */

@media screen and (min-width: 1024px) {
	.header-top main {
		max-width: 976px;
	}
	.header-nav main {
		max-width: 1024px;
	}
	.picture ul li {
		width: 25%;
	}
	.picture1 {
		background-image: url('../img/accessories_large.jpg');
	}
	.picture2 {
		background-image: url('../img/accessibility_large.jpg');
	}
	.picture3 {
		background-image: url('../img/airpods_large.jpg');
	}
	.picture4 {
		background-image: url('../img/iphone_upgrade_large.jpg');
	}
}


/* <1024 */

@media screen and (max-width: 1024px) {
	.header-top main {
		padding: 0px 25px;
	}
	.header-nav main {
		padding: 0 24px;
	}
	.middle {
		margin: 20px 25px;
	}
	.fuwu {
		margin: 0 25px;
	}
	.weibu {
		padding: 10px 25px 25px 25px;
	}
}


/* 768-1024 */

@media screen and (min-width: 768px) and (max-width: 1024px) {
	.banner-title1 {
		font-size: 25px;
	}
	.banner-title2 {
		font-size: 30px;
	}
	.banner-img {
		background-image: url('../img/macbookpro_middle.jpg');
	}
	.picture ul li {
		width: 50%;
	}
	.picture1 {
		background-image: url('../img/accessories_medium.jpg');
	}
	.picture2 {
		background-image: url('../img/accessibility_medium.jpg');
	}
	.picture3 {
		background-image: url('../img/airpods_medium.jpg');
	}
	.picture4 {
		background-image: url('../img/iphone_upgrade_medium.jpg');
	}
}


/* >768 */

@media screen and (min-width: 768px) {
	.header-nav main .max-nav {
		display: block;
	}
	.header-nav main .min-nav {
		display: none;
	}
	.fuwu-max {
		display: block;
	}
	.fuwu-min {
		display: none;
	}
	.china {
		float: right;
	}
}


/* <768 */

@media screen and (max-width: 768px) {
	.header-nav main .max-nav {
		display: none;
	}
	.header-nav main .min-nav {
		display: block;
	}
	.picture ul li {
		width: 100%;
	}
	.picture1 {
		background-image: url('../img/accessories_small.jpg');
	}
	.picture2 {
		background-image: url('../img/accessibility_small.jpg');
	}
	.picture3 {
		background-image: url('../img/airpods_small.jpg');
	}
	.picture4 {
		background-image: url('../img/iphone_upgrade_small.jpg');
	}
	.banner-title1 {
		font-size: 20px;
	}
	.banner-title2 {
		font-size: 28px;
		min-width: 345px;
	}
	.banner-img {
		background-image: url('../img/macbookpro-small.jpg');
	}
	.fuwu-max {
		display: none;
	}
	.fuwu-min {
		display: block;
		margin: 0 25px;
	}
	.china {
		float: left;
	}
	.weibu div {
		clear: both;
		margin: 5px 0;
	}
}

.inner {
	width: 100%;
	height: 544px;
	position: relative;
}

.inner li {
	width: 100%;
	height: 100%;
	float: left;
	position: absolute;
	left: 0;
	top: 0;
	transition: all 1s;
	opacity: 0;
	z-index: 1;
}

.inner li:first-child {
	opacity: 1;
	z-index: 2;
}