/*头部标题*/

.header {
	width: 100%;
	overflow: hidden;	
	background: linear-gradient(90deg, #8e83ca, #23be95);
	/*background: black;*/
}

.header-main {
	width: 7rem;
	height: 1rem;
	margin: 0 auto;
	border-top: 0.02rem dashed;
	position: relative;
}

.header-main .title1 {
	width: 100%;
	text-align: center;
	font-size: 0.28rem;
	line-height: 0.28rem;
	margin-top: 0.2rem;
	color: white;
}

.header-main .title2 {
	width: 100%;
	text-align: center;
	font-size: 0.18rem;
	line-height: 0.18rem;
	margin-top: 0.06rem;
	color: #e3e3e3;
}

.header-main .btnBack {
	width: 0.5rem;
	height: 0.5rem;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	background: url(../img/03.png) center center no-repeat;
	background-size: 100%;
}

.header-main .btnMore {
	width: 0.5rem;
	height: 0.5rem;
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	background: url(../img/05.png) center center no-repeat;
	background-size: 100%;
}

.header-main .yuandian {
	width: 0.96rem;
	height: 0.06rem;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0.15rem;
	margin: auto;
	background: url(../img/06.png) center center no-repeat;
	background-size: 100%;
}


/*地图*/

.map {
	width: 100%;
	height: 13.34rem;
	position: fixed;
	top: 0;
	z-index: -1;
}

.map img {
	width: 100%;
	height: 100%;
}

.map .qidian {
	width: 1.66rem;
	height: 1.66rem;
	position: absolute;
	left: 2.94rem;
	top: 4.28rem;
	background: url(../img/zndy/18.png) center center no-repeat;
	background-size: 100%;
}

.map .luxian {
	width: 1.82em;
	height: 3.34rem;
	position: absolute;
	left: 2.95rem;
	top: 6.25rem;
	background: url(../img/zndy/21.png) center center no-repeat;
	background-size: 100%;
}

.map .zhongdian {
	width: 0.44em;
	height: 0.52rem;
	position: absolute;
	left: 4.64rem;
	top: 9rem;
	background: url(../img/zndy/25.png) center center no-repeat;
	background-size: 100%;
}


/*语音按钮*/

.yuyin {
	width: 100%;
	position: absolute;
	bottom: 0;
}

.btYuyin {
	width: 2.58rem;
	height: 2.58rem;
	background: url(../img/zndy/29.png) center center no-repeat;
	background-size: 100%;
	position: absolute;
	bottom: 0.46rem;
	left: 0;
	right: 0;
	margin: auto;
}

.yuyin p {
	color: #484c4f;
	font-size: 0.2rem;
	text-align: center;
	line-height: 0.2rem;
	font-weight: bold;
	position: absolute;
	bottom: 0.16rem;
	left: 0;
	right: 0;
	margin: auto;
}

.tishi {
	width: 100%;
	height: 1.54rem;
	position: relative;
}

.tishi .backcolor {
	width: 100%;
	height: 1.54rem;
	background: black;
	opacity: 0.7;
}

.tishi .left {
	width: 0.22rem;
	height: 1.02rem;
	position: absolute;
	left: 0.24rem;
	top: 0.3rem;
	float: left;
}

.tishi .left .yuanhuan {
	width: 0.22rem;
	height: 0.22rem;
	border: 0.02rem solid #fff;
	border-radius: 50%;
	position: relative;
}

.tishi .left .yuanhuan .yuan1 {
	width: 0.12rem;
	height: 0.12rem;
	border-radius: 50%;
	background: #ffdd1f;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}

.tishi .left .xuxian {
	width: 0;
	height: 0.8rem;
	border: 0.04rem dashed #cecece;
	margin: 0 auto;
}

.tishi .left .yuan2 {
	width: 0.12rem;
	height: 0.12rem;
	border-radius: 50%;
	background: #cecece;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0.2rem;
	margin: auto;
}

.tishi .middle {
	width: 2.7rem;
	height: 0.84rem;
	position: absolute;
	left: 0.6rem;
	top: 0.3rem;
}

.tishi .middle .title1 {
	font-size: 0.26rem;
	line-height: 0.24rem;
	color: #d6d6d6;
}

.tishi .middle .title2 {
	font-size: 0.2rem;
	line-height: 0.24rem;
	color: #d6d6d6;
}

.tishi .middle .title3 {
	font-size: 0.26rem;
	line-height: 0.05rem;
	color: #d6d6d6;
	margin-top: 0.24rem;
}

.tishi .middle1 {
	width: 0.9rem;
	height: 0.84rem;
	position: absolute;
	left: 3.3rem;
	top: 0.3rem;
}

.tishi .middle1 .xingji {
	width: 0.92rem;
	height: 0.2rem;
	background: url(../img/zndy/10.png) center center no-repeat;
	background-size: 100%;
}

.tishi .middle1 .titile {
	font-size: 0.26rem;
	line-height: 0.26rem;
	color: #d6d6d6;
	position: absolute;
	bottom: 0;
}

.tishi .right {
	width: 0.6rem;
	height: 100%;
	position: absolute;
	right: 0.24rem;
	top: 0;
	float: right;
}

.tishi .right .zhinanzhen {
	width: 0.48rem;
	height: 0.48rem;
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	background: url(../img/zndy/13.png) center center no-repeat;
	background-size: 100%;
}


/*地球*/

.diqiu {
	width: 100%;
	height: 5.8rem;
	position: relative;
}

.diqiu .diqiu1 {
	width: 3.58rem;
	height: 3.58rem;
	position: absolute;
	left: 1.9rem;
	top: 1.38rem;
	background: url(../img/faxx/18_031.png) center center no-repeat;
	background-size: 100%;
	z-index: -1;
}

.diqiu .dingwei {
	width: 0.18rem;
	height: 0.22rem;
	background: url(../img/faxx/17_06.png) center center no-repeat;
	background-size: 100%;
	position: absolute;
	margin: auto;
}

.dingwei1 {
	left: 2.84rem;
	top: 2.58rem;
}

.dingwei2 {
	left: 4.12rem;
	top: 3.18rem;
}

.diqiu .diming {
	height: 0.24rem;
	font-size: 0.20rem;
	line-height: 24rem;
	background: black;
	color: #fff;
	font-weight: bold;
	position: absolute;
}

.diqiu .back-xinxi {
	width: 5.06rem;
	height: 2.6rem;
	position: absolute;
	left: 0.7rem;
	top: 1.04rem;
	background: url(../img/faxx/20_03.png) center center no-repeat;
	background-size: 100%;
}

.diqiu .back-xinxi .xinxi1 {
	width: 1.3rem;
	height: 0.64rem;
	position: absolute;
	left: 0.3rem;
}

.diqiu .back-xinxi .xinxi1 .title1 {
	width: 100%;
	font-size: 0.22rem;
	line-height: 0.26rem;
	font-weight: bold;
	color: #24c894;
	text-align: right;
}

.diqiu .back-xinxi .xinxi1 p {
	font-size: 0.18rem;
	line-height: 0.2rem;
	font-weight: bold;
	color: #24c894;
}

.diqiu .back-xinxi .xinxi1 p:nth-child(1) {
	float: left;
}

.diqiu .back-xinxi .xinxi1 p:nth-child(2) {
	float: right;
}

.xinxi2 {
	margin-left: 4.8rem;
	top: 1.5rem;
}


/*天气*/

.tianqi {
	width: 6rem;
	height: 2.34rem;
	margin: 0 auto;
	border-radius: 0.2rem;
	box-shadow: 0 0.1rem 0.2rem 0.05rem rgba(0, 0, 0, 0.2);
	position: relative;
	margin-bottom: 1.5rem;
}

.tianqi .top {
	width: 6rem;
	height: 1.7rem;
	margin: 0 auto;
	border-radius: 0.2rem;
	background: #72a7ef;
	position: relative;
}

.tianqi .top .right {
	width: 2.64rem;
	height: 1.88rem;
	position: absolute;
	right: 0.1rem;
	bottom: 0;
	background: url(../img/faxx/17_03.png) center center no-repeat;
	background-size: 100%;
}

.tianqi .top .left {
	overflow: hidden;
	padding-left: 0.54rem;
	padding-top: 0.22rem;
}

.tianqi .top .left .title1 {
	font-size: 0.83rem;
	color: white;
	float: left;
}

.tianqi .top .left .title2 {
	font-size: 0.24rem;
	line-height: 0.24rem;
	margin-top: 0.2rem;
	color: white;
	font-weight: bold;
}

.tianqi .top .left .dingwei {
	width: 0.2rem;
	height: 0.22rem;
	background: url(../img/faxx/17_06.png) center center no-repeat;
	background-size: 100%;
	float: left;
	margin-right: 0.1rem;
}

.tianqi .top .left .title3 {
	font-size: 0.24rem;
	line-height: 0.24rem;
	margin-top: 0.2rem;
	color: white;
	white-space: nowrap;
	margin-left: 0.1rem;
}

.tianqi .top .bottom {
	width: 4rem;
	height: 0.54rem;
	position: absolute;
	bottom: 0;
	left: 0.54rem;
}

.tianqi .top .bottom .left {
	width: 0.54rem;
	height: 0.54rem;
	float: left;
	background: url(../img/faxx/21_03.png) center center no-repeat;
	background-size: 100%;
	margin-right: 0.44rem;
}

.tianqi .top .bottom .right1 {
	width: 0.36rem;
	width: 0.54rem;
	margin-right: 0.2rem;
	float: left;
}

.tianqi .top .bottom .right1 .logo {
	width: 0.32rem;
	height: 0.3rem;
	background: url(../img/faxx/21_05.png) center center no-repeat;
	background-size: 100%;
	margin: 0 auto;
}

.tianqi .top .bottom .right1 p {
	text-align: center;
	font-size: 0.18rem;
	line-height: 0.2rem;
	color: #ffffff;
}

.tianqi .bottom1 {
	width: 100%;
	height: 0.64rem;
	position: absolute;
	bottom: 0;
	line-height: 0.64rem;
}

.tianqi .bottom1 .left {
	color: #72a7ef;
	font-size: 0.3rem;
	margin-left: 0.6rem;
	float: left;
}

.tianqi .bottom1 .middle {
	color: #8c8c8c;
	font-size: 0.2rem;
	float: left;
	margin-left: 0.24rem;
}

.tianqi .bottom1 .right {
	color: #8c8c8c;
	font-size: 0.2rem;
	float: right;
	margin-right: 0.14rem;
}


/*距离*/

.juli1 {
	width: 5.63rem;
	height: 0.66rem;
	margin: 0 auto;
	background: url(../img/faxx/18_03.png) center center no-repeat;
	background-size: 100%;
}

.juli2 {
	width: 6rem;
	height: 0;
	border: 0.02rem dashed #8c8c8c;
	margin: 0 auto;
}

.yuan {
	width: 5.84rem;
	height: 0.36rem;
	line-height: 0.36rem;
	margin: 0 auto;
	margin-top: -0.18rem;
	display: flex;
	display: -webkit-flex;
	justify-content: space-between;
}

.yuan1 {
	width: 0.16rem;
	height: 0.16rem;
	border-radius: 50%;
	background: #24c894;
	margin-top: 0.08rem;
	position: relative;
	float: left;
}

.yuan1:before {
	content: "";
	display: block;
	width: 0.36rem;
	height: 0.36rem;
	background: #24c894;
	border-radius: 50%;
	position: absolute;
	top: -0.1rem;
	left: -0.1rem;
	opacity: 0.3;
}

.yuan1:after {
	content: "";
	display: block;
	width: 0.28rem;
	height: 0.28rem;
	background: #24c894;
	border-radius: 50%;
	position: absolute;
	top: -0.06rem;
	left: -0.06rem;
	opacity: 0.6;
}

.yuan2 {
	width: 0.16rem;
	height: 0.16rem;
	border-radius: 50%;
	background: #24c894;
	margin-top: 0.08rem;
	position: relative;
	float: left;
}

.wenzi {
	width: 6.14rem;
	overflow: hidden;
	margin: 0 auto;
	margin-top: 0.24rem;
	display: flex;
	display: -webkit-flex;
	justify-content: space-between;
}

.wenzi .title {
	font-size: 0.2rem;
	line-height: 0.2rem;
	float: left;
	font-weight: bold;
}

.wenzi .title:nth-child(2),
.title:nth-child(3),
.title:nth-child(4) {
	color: #484c4f;
}

.zhishu {
	width: 100%;
	height: 1.4rem;
	margin: 0.8rem 0;
	background: url(../img/faxx/21_031.png) center center no-repeat;
	background-size: 100%;
}


/*提交*/

.btnTijiao {
	width: 6.5rem;
	height: 0.9rem;
	margin: 0 auto;
	background: url(../img/3_03.png) center center no-repeat;
	background-size: 100%;
	margin-bottom: 0.86rem;
	box-shadow: 0 0.05rem 0.3rem 0.1rem rgba(0, 0, 0, 0.2);
}

.btnTijiao .title {
	font-size: 0.34rem;
	line-height: 0.9rem;
	font-weight: bold;
	color: white;
	float: left;
	margin-left: 1.64rem;
}

.btnTijiao .right {
	width: 2.3rem;
	height: 100%;
	float: left;
}

.btnTijiao .title1 {
	font-size: 0.2rem;
	line-height: 0.2rem;
	font-weight: bold;
	color: white;
	margin-left: 0.3rem;
	margin-top: 0.2rem;
}

.btnTijiao .title1:nth-child(2) {
	margin-top: 0.05rem;
}


/*专属*/

.header-banner {
	height: 4.36rem;
	width: 100%;
	background: url(../img/yj/01_03.png) center center no-repeat;
	background-size: 100%;
}

.sousuo {
	width: 100%;
	height: 0.86rem;
	box-shadow: 0 0.02rem 0.2rem 0.1rem rgba(0, 0, 0, 0.1);
}

.sousuo .left {
	width: 1.38rem;
	height: 100%;
	float: left;
	background: url(../img/yj/000_03.png) center center no-repeat;
	background-size: 100%;
}

.sousuo .xian {
	margin: 0.14rem 0;
	width: 0;
	height: 0.58rem;
	border: 0.01rem solid rgba(0, 0, 0, 0.1);
	float: left;
}

.sousuo .middle {
	width: 5rem;
	height: 100%;
	margin-left: 0.26rem;
	padding-right: 0.22rem;
	float: left;
}

.sousuo .middle .sousuokuang {
	width: 100%;
	height: 100%;
	background: url(../img/yj/112_03.png) center center no-repeat;
	background-size: 100%;
	overflow: hidden;
	position: relative;
}

.sousuo .middle .sousuokuang .btnYuyin {
	width: 0.56rem;
	height: 0.56rem;
	position: absolute;
	right: 0.08rem;
	top: 0;
	bottom: 0;
	margin: auto;
	background: url(../img/yj/113_03.png) center center no-repeat;
	background-size: 100%;
}

.sousuo .right {
	width: 0.7rem;
	height: 100%;
	float: right;
}

.sousuo .right .dingwei {
	width: 0.6rem;
	height: 0.58rem;
	background: url(../img/yj/000_06.png) center center no-repeat;
	background-size: 100%;
	margin-top: 0.13rem;
}

.biaoqian {
	width: 7.04rem;
	height: 2.4rem;
	margin: 0 auto;
}

.biaoqian .biaoqan1 {
	width: 33.3333%;
	height: 2.4rem;
	float: left;
}

.biaoqian .biaoqan1 .biaoqan2 {
	width: 1.36rem;
	height: 1.72rem;
	margin: 0 auto;
	margin-top: 0.22rem;
}

.biaoqian .biaoqan1 .biaoqan2 img {
	width: 100%;
	height: 100%;
}


/*视屏*/

.video {
	width: 7.04rem;
	height: 4.68rem;
	margin: 0 auto;
	border-radius: 0.2rem;
	border: 0.01rem solid rgba(0, 0, 0, 0.2);
	position: relative;
	margin-bottom: 0.24rem;
}

.video .pic {
	width: 100%;
	height: 2.98rem;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 100%;
	position: relative;
}

.pic1 {
	background-image: url(../img/yj/16_03.png);
}

.pic2 {
	background-image: url(../img/yj/16_06.png);
}

.video .pic .btnPlay {
	width: 1.02rem;
	height: 0.98rem;
	background: url(../img/yj/114_03.png) center center no-repeat;
	background-size: 100%;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}

.video .middle {
	width: 100%;
	height: 1.08rem;
	border-bottom: 0.01rem solid #f0f0f0;
	padding-top: 0.24rem;
	padding-left: 0.22rem;
}

.video .middle .title1 {
	font-size: 0.3rem;
	line-height: 0.3rem;
	font-weight: bold;
	float: left;
}

.video .middle .title2 {
	width: 2.83rem;
	height: 0.16rem;
	float: left;
	background: url(../img/yj/114_11.png) center center no-repeat;
	background-size: 100%;
	margin-top: 0.06rem;
	margin-left: 0.42rem;
}

.video .middle p {
	font-size: 0.24rem;
	line-height: 0.3rem;
	clear: both;
}

.video .xia {
	width: 100%;
	height: 0.62rem;
	overflow: hidden;
}

.xia ul li {
	width: 33.333%;
	height: 0.62rem;
	border-right: 0.01rem solid #f0f0f0;
	float: left;
	position: relative;
}

.xia ul li .dingwei {
	width: 0.3rem;
	height: 0.3rem;
	margin-top: 0.16rem;
	margin-left: 0.24rem;
	background: url(../img/yj/000_06.png) center center no-repeat;
	background-size: 100%;
	float: left;
}

.xia ul li .zhong {
	width: 1.12rem;
	height: 0.34rem;
	float: left;
	padding-left: 0.18rem;
}

.xia ul li .zhong .biaoti1 {
	font-size: 0.16rem;
	line-height: 0.18rem;
	color: #24c5a5;
	font-weight: bold;
	margin-top: 0.16rem;
}

.xia ul li .zhong .biaoti2 {
	font-size: 0.12rem;
	line-height: 0.14rem;
	color: #8ce8d6;
	font-weight: bold;
	margin-top: 0.02rem;
}

.xia ul li .xian {
	width: 0.39rem;
	height: 0.04rem;
	background: url(../img/yj/22_03.png) center center no-repeat;
	background-size: 100%;
	position: absolute;
}

.xian1 {
	right: 0.2rem;
	top: 0.14rem;
}

.xian2 {
	right: 0.2rem;
	bottom: 0.24rem;
}

.xia ul li .dianzan {
	width: 1.58rem;
	height: 0.54rem;
	background: url(../img/yj/114_15.png) center center no-repeat;
	background-size: 100%;
	margin: 0.06rme 0 0 0.14rem;
	float: left;
}

.xia ul li .btnDianzan {
	width: 0.3rem;
	height: 0.3rem;
	margin-top: 0.16rem;
	margin-left: 0.24rem;
	background: url(../img/yj/114_21.png) center center no-repeat;
	background-size: 100%;
	float: left;
}

.xia ul li .pingjia {
	width: 0.3rem;
	height: 0.3rem;
	margin-top: 0.16rem;
	margin-left: 0.24rem;
	background: url(../img/yj/114_23.png) center center no-repeat;
	background-size: 100%;
	float: left;
}

.video .btnshare {
	width: 0.8rem;
	height: 0.8rem;
	border-radius: 50%;
	background: white;
	position: absolute;
	right: 0.5rem;
	top: 2.56rem;
	box-shadow: 0 0.02rem 0.02rem 0.02rem rgba(0, 0, 0, 0.2);
}

.video .btnshare .btnshare1 {
	width: 0.47rem;
	height: 0.45rem;
	background: url(../img/yj/115_07.png) center center no-repeat;
	background-size: 100%;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	margin: auto;
}

.index-banner {
	width: 100%;
	height: 5.42rem;
	background: url(../img/index/132_03.png) center center no-repeat;
	background-size: cover;
	position: relative;
}

.index-banner .zhezhao {
	width: 7.5rem;
	height: 1.02rem;
	background: rgba(0, 0, 0, 0.6);
}

.index-banner .sousuo {
	width: 7.08rem;
	height: 1.8rem;
	background: url(../img/index/2112_03.png) center center no-repeat;
	background-size: 100%;
	position: absolute;
	left: 0;
	right: 0;
	top: 0.1rem;
	margin: auto;
}

.index-banner .sousuo .caidan {
	width: 0.32rem;
	height: 0.25rem;
	background: url(../img/index/1201_03.png) center center no-repeat;
	background-size: 100%;
	position: absolute;
	left: 2.2rem;
	top: 0.32rem;
}

.index-banner .sousuo .btn {
	width: 0.5rem;
	height: 0.5rem;
	border-radius: 50%;
	box-shadow: 0 0.02rem 0.02rem 0.02rem rgba(0, 0, 0, 0.2);
	position: absolute;
	top: 0.2rem;
}

.index-banner .sousuo .ssk1 {
	width: 4.6rem;
	height: 0.5rem;
	position: absolute;
	right: 0.24rem;
	bottom: 0.14rem;
}

.index-banner .sousuo .ssk1 .ssk11 {
	width: 4.6rem;
	height: 100%;
	background: #4a4d55;
	border: 0;
	outline: none;
	border-radius: 0.1rem;
	color: #9095a2;
	padding-left: 0.4rem;
	line-height: 0.5rem;
	font-size: 0.14rem;
	position: absolute;
	left: 0;
	top: 0;
}

.index-banner .sousuo .ssk1 .lanlvyuan {
	width: 0.18rem;
	height: 0.08rem;
	background: url(../img/index/1233_03.png) center center no-repeat;
	background-size: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0.12rem;
	margin: auto;
}

.index-banner .sousuo .ssk1 .btnYuyin {
	width: 0.56rem;
	height: 0.56rem;
	position: absolute;
	right: 0.08rem;
	top: 0;
	bottom: 0;
	margin: auto;
	background: url(../img/yj/113_03.png) center center no-repeat;
	background-size: 100%;
}

.index-banner .sousuo .btn img {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	width: 50%;
	height: 50%;
}

.btn1 {
	right: 1.02rem;
}

.btn2 {
	right: 0.24rem;
}

.index-banner .title {
	width: 4.44rem;
	height: 1.47rem;
	background: url(../img/index/11_03.png) center center no-repeat;
	background-size: 100%;
	position: absolute;
	bottom: 1.02rem;
	left: 0;
	right: 0;
	margin: auto;
}

.btlb {
	width: 100%;
	height: 3rem;
	position: relative;
}


.btlb .btlb1 {
	width: 25%;
	height: 100%;
	float: left;
	position: relative;
}
.more1 {
	width: 0.3rem;
	height: 0.09rem;
	background: url(../img/index/77_07.png) center center no-repeat;
	background-size: 100%;
	position: absolute;
	right: 0.24rem;
	top: 0.2rem;
}

.btlb .btlb1 .pict {
	width: 1.3rem;
	height: 1.72rem;
	margin: 0 auto;
	margin-top: 0.66rem;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 100%;
}

.pict1 {
	background-image: url(../img/index/111.png);
}

.pict2 {
	background-image: url(../img/index/1111.png);
}

.pict3 {
	background-image: url(../img/index/111_05-05.png);
}

.pict4 {
	background-image: url(../img/index/1111_05-06.png);
}

.banner {
	width: 6.2rem;
	height: 2.8rem;
	margin: 0 auto;
	background: url(../img/2.png) center center no-repeat;
	background-size: 100%;
	box-shadow: -0.01rem -0.01rem 0.01rem 0.02rem rgba(0, 0, 0, 0.2);
	position: relative;
}

.xian1 {
	width: 6.1rem;
	height: 0.04rem;
	margin: 0 auto;
	border-bottom: 0.02rem solid black;
}

.xian2 {
	width: 6rem;
	height: 0.04rem;
	margin: auto;
	border-bottom: 0.02rem solid #C7C9C9;
	margin-bottom: 0.2rem;
}

.lun {
	width: 20%;
	height: 0.3rem;
	margin: 0 auto;
}

.lun ul li {
	width: 0.15rem;
	height: 0.15rem;
	border-radius: 50%;
	background: #20aa80;
	float: left;
	margin-right: 0.05rem;
}

.lun ul .l1 {
	width: 0.25rem;
	height: 0.15rem;
	border-radius: 10px;
}

.zstj {
	width: 100%;
	height: 1.7rem;
}

.zstj .zstj1 {
	width: 3.46rem;
	height: 0.84rem;
	margin: 0 auto;
	background: url(../img/index/77_24.png) center center no-repeat;
	background-size: 100%;
	margin-top: 0.3rem;
}

.pt {
	width: 7.04rem;
	height: auto;
	overflow: hidden;
	margin: 0 auto;
}

.pt ul {
	width: 100%;
	overflow: hidden;
	display: flex;
	display: -webkit-flex;
	justify-content: space-between;
}

.pt ul li {
	width: 2.2rem;
	height: 3.2rem;
	border-bottom: 0.02rem solid;
	box-shadow: -0.02rem -0.02rem 0.02rem 0.02rem rgba(0, 0, 0, 0.2);
	border-radius: 10px 10px 2px 2px;
	float: left;
	position: relative;
	margin-bottom: 0.4rem;
}

.pt ul li .tu {
	width: 1.9rem;
	height: 2.12rem;
	background: url(../img/1.jpg) center center no-repeat;
	background-size: 100%;
	position: absolute;
	top: -0.1rem;
	left: 0.16rem;
}

.pt ul li .tu1 {
	background: url(../img/2.jpg) center center no-repeat;
}

.pt ul li .tu2 {
	background: url(../img/3.jpg) center center no-repeat;
}

.pt ul li .tu3 {
	background: url(../img/4.jpg) center center no-repeat;
}

.pt ul li .tu4 {
	background: url(../img/5.jpg) center center no-repeat;
}

.pt ul li .tu5 {
	background: url(../img/6.jpg) center center no-repeat;
}

.pt ul li .tu .di {
	width: 100%;
	height: 0.33rem;
	font-size: 0.15rem;
	color: white;
	position: absolute;
	line-height: 0.33rem;
	bottom: 0px;
	background: rgba(0, 0, 0, 0.6);
}

.pt ul li .tu .dt {
	width: 0.25rem;
	height: 100%;
	margin-left: 0.08rem;
	float: left;
}

img {
	width: 100%;
	height: 100%;
}

.liulan {
	width: 0.6rem;
	height: 0.38rem;
	background: url(../img/6.png) center center no-repeat;
	background-size: 100%;
	position: absolute;
	top: 0.15rem;
	font-size: 0.18rem;
	color: white;
	text-align: center;
	line-height: 0.38rem;
	right: -0.1rem;
	z-index: 99;
}

.qian {	
	font-size: 0.18rem;
	color: #f81e3d;
	text-align: center;0
	line-height: 0.4rem;
	position: absolute;
	bottom: 0.8rem;
	left: 0;
	right: 0;
	margin: auto;
	
}

.qian1 {
	
	font-size: 0.18rem;
	color: #2a2d36;
	text-align: center;
	position: absolute;
	bottom: 0.5rem;
	left: 0;
	right: 0;
	margin: auto;
}

.ww {
	width: 1.25rem;
	height: 0.34rem;
	background: url(../img/7.png) center center no-repeat;
	background-size: 100%;
	position: absolute;
	bottom: 0.15rem;
	left: 0;
	right: 0;
	margin: auto;
	font-size: 0.18rem;
	color: white;
	line-height: 0.34rem;
}

.ww span {
	position: absolute;
	right: 0.2rem;
	line-height: 0.34rem;
}

.jz {
	width: 100%;
	height: 0.8rem;
	font-size: 0.18rem;
	color: #b5b5b5;
	text-align: center;
	line-height: 0.8rem;
}


/*广告*/

.guanggao {
	width: 7.06rem;
	height: 2.58rem;
	margin: 0 auto;
	margin-top: 0.2rem;
}

.guanggao .title {
	font-size: 0.28rem;
	font-weight: bold;
	color: #4a4d55;
	line-height: 0.28rem;
}

.guanggao .pic {
	width: 7.06rem;
	height: 2.04rem;
	margin: 0 auto;
	margin-top: 0.3rem;
	background: url(../img/index/122_03.png) center center no-repeat;
	background-size: 100%;
	position: relative;
}

.guanggao .pic .title {
	width: 3.40rem;
	height: 0.98rem;
	background: url(../img/index/121_03.png) center center no-repeat;
	background-size: 100%;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}

.btnRight {
	width: 0.7rem;
	height: 0.3rem;
	font-size: 0.18rem;
	line-height: 0.3rem;
	text-align: center;
	color: #b4b4b4;
	border-radius: 0.1rem;
	border: 0.02rem solid #b4b4b4;
	float: right;
}

.gcgw {
	width: 7.04rem;
	height: 3.6rem;
	margin: 0 auto;
}

.gcgw .top {
	width: 100%;
	height: 0.88rem;
}

.gcgw .top .title {
	font-size: 0.28rem;
	font-weight: bold;
	color: #4a4d55;
	line-height: 0.88rem;
	float: left;
}

.gcgw .top .xin {
	width: 0.28rem;
	height: 0.28rem;
	border-radius: 50%;
	box-shadow: 0.02rem 0.02rem 0.02rem 0.02rem rgba(0, 0, 0, 0.2);
	float: left;
	margin-top: 0.3rem;
	margin-left: 0.36rem;
	position: relative;
}

.gcgw .top .xin .xin1 {
	width: 0.16rem;
	height: 0.16rem;
	background: url(../img/index/02_03.png) center center no-repeat;
	background-size: 100%;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}

.gcgw .top .shuzi {
	float: left;
	font-size: 0.14rem;
	line-height: 0.88rem;
	margin-left: 0.14rem;
	color: red;
}

.gcgw .bottom {
	height: 3.7rem;
	width: 7.04rem;
	margin: 0 auto;
	margin-top: -0.5rem;
}

.gcgw .bottom .left {
	width: 4.7rem;
	height: 2.72rem;
	background: url(../img/index/123_03.png) center center no-repeat;
	background-size: 100%;
	float: left;
}

.gcgw .bottom .right {
	width: 2.28rem;
	height: 1.32rem;
	float: right;
	background: url(../img/index/123_05.png) center center no-repeat;
	background-size: 100%;
}

.lbbq {
	width: 7.1rem;
	height: 2.1rem;
	border-radius: 0.1rem;
	box-shadow: 0.02rem 0 0.02rem 0.02rem rgba(0, 0, 0, 0.2);
	margin: 0 auto;
	margin-top: 0.7rem;
	border-bottom: 0.04rem solid red;
}

.lbbq .left {
	width: 1.8rem;
	height: 100%;
	float: left;
	position: relative;
}

.lbbq .left .left1 {
	width: 1.58rem;
	height: 0.16rem;
	background: url(../img/index/131_03.png) center center no-repeat;
	background-size: 100%;
	margin: 0 auto;
	margin-top: -0.16rem;
}

.lbbq .left .left2 {
	width: 1.34rem;
	height: 1.72rem;
	background: url(../img/index/0002_03.png) center center no-repeat;
	background-size: 100%;
	border-radius: 0.1rem;
	box-shadow: 0.02rem 0 0.02rem 0.02rem rgba(0, 0, 0, 0.2);
	border: 0.04rem solid white;
	position: absolute;
	left: 0.22rem;
	top: -0.16rem;
}

.lbbq .right {
	width: 5.2rem;
	height: 100%;
	float: left;
	position: relative;
	padding-right: 0.24rem;
}

.lbbq .right .title1 {
	width: 100%;
	height: 0.42rem;
	font-size: 0.24rem;
	line-height: 0.42rem;
	font-weight: bold;
}

.lbbq .right .xian1 {
	width: 1.02rem;
	height: 0;
	border: 0.02rem dashed;
	position: absolute;
	left: 0;
	top: 0.42rem;
	margin: 0;
}

.lbbq .right .title2 {
	width: 2rem;
	height: 0.2rem;
	font-size: 0.2rem;
	line-height: 0.2rem;
	margin-top: 0.04rem;
	white-space: nowrap;
}

.lbbq .right .content {
	width: 100%;
	height: 0.78rem;
	overflow: hidden;
	text-overflow: ellipsis;
	padding-top: 0.14rem;
	color: #8e8f94;
	font-size: 0.2rem;
	line-height: 0.24rem;
	font-weight: bold;
}

.lbbq .right .bottom {
	width: 100%;
	height: 0.49rem;
	border-top: 0.02rem solid #c5c5c5;
}

.lbbq .right .bottom .bottom1 {
	width: 33.333%;
	height: 100%;
	line-height: 0.49rem;
	border-right: 0.02rem solid #c5c5c5;
	position: relative;
	float: left;
}

.lbbq .right .bottom .bottom1 .bottom11 {
	width: 1.53rem;
	height: 0.33rem;
	background: url(../img/yj/114_15.png) center center no-repeat;
	background-size: 100%;
	margin-top: 0.09rem;
	margin-left: 0.1rem;
}

.lbbq .right .bottom .bottom1 .tubiao1 {
	width: 0.3rem;
	height: 0.3rem;
	background: url(../img/yj/114_23.png) center center no-repeat;
	background-size: 100%;
	margin-left: 0.3rem;
	margin-top: 0.1rem;
	float: left;
}

.lbbq .right .bottom .bottom1 .number {
	font-size: 0.14rem;
	font-weight: bold;
	margin-left: 0.1rem;
	line-height: 0.49rem;
	float: left;
}

.lbbq .right .bottom .bottom1 .tubiao2 {
	width: 0.3rem;
	height: 0.3rem;
	background: url(../img/yj/114_21.png) center center no-repeat;
	background-size: 100%;
	margin-left: 0.3rem;
	margin-top: 0.1rem;
	float: left;
}

.xingtui {
	width: 2.3rem;
	height: 0.3rem;
	position: absolute;
	right: 0.24rem;
	top: 0.4rem;
}

.xingtui .xingtui1 {
	width: 0.5rem;
	height: 0.27rem;
	background: url(../img/index/131_07.png) center center no-repeat;
	background-size: 100%;
	float: left;
}

.xingtui .xingtui2 {
	width: 0.9rem;
	height: 0.14rem;
	background: url(../img/index/131_10.png) center center no-repeat;
	background-size: 100%;
	position: absolute;
	right: 0;
	bottom: 0;
}


/*tab*/

.tab {
	width: 100%;
	height: 1rem;
	box-shadow: 0.02rem 0 0.02rem 0.02rem rgba(0, 0, 0, 0.2);
	position: fixed;
	bottom: 0;
	background: white;
	z-index: 9999;
}

.tab .tab-main {
	width: 7.04rem;
	height: 100%;
	margin: 0 auto;
	display: flex;
	display: -webkit-flex;
	justify-content: space-between;
}

.tab .tab-main .tab1 {
	width: 1.2rem;
	height: 100%;
	position: relative;
}

.tab .tab-main .tab1 .tab1-back {
	display: none;
}

.tab .tab-main .tab1 .back1 {
	width: 1.1rem;
	height: 0.14rem;
	background: url(../img/index/131_03.png) center center no-repeat;
	background-size: 100%;
	position: absolute;
	top: -0.12rem;
	left: 0.04rem;
}

.tab .tab-main .tab1 .back2 {
	width: 0.9rem;
	height: 1.14rem;
	box-shadow: 0.02rem 0 0.02rem 0.02rem rgba(0, 0, 0, 0.2);
	position: absolute;
	top: -0.14rem;
	left: 0.15rem;
	background: white;
}

.tab .tab-main .tab1 .tab-logo {
	width: 0.52rem;
	height: 0.77rem;
	position: absolute;
	left: 0;
	right: 0;
	top: -0.15rem;
	margin: auto;
}

.tab .tab-main .tab1 .tab-logo img {
	width: 100%;
	height: 100%;
}

.qiandao {
	width: 100%;
	height: 2.24rem;
	position: relative;
}

.qiandao .qiandao1 {
	width: 100%;
	height: 0.8rem;
	background: linear-gradient(#8e83ca, #23be95);
	position: absolute;
	top: 0.5rem;
}

.qiandao .lbbq1 {
	width: 7.1rem;
	height: 1.6rem;
	border-radius: 0.1rem;
	box-shadow: 0.02rem 0 0.02rem 0.02rem rgba(0, 0, 0, 0.2);
	margin: 0 auto;
	margin-top: 0.7rem;
	border-bottom: 0.04rem solid red;
	background: white;
	position: relative;
}

.qiandao .lbbq1 .lbbq11 {
	width: 1.44rem;
	height: 1.54rem;
	background: url(../img/index/1123_03.png) center center no-repeat;
	background-size: 100%;
	position: absolute;
	left: 0.1rem;
	top: -0.14rem;
}

.qiandao .right {
	width: 5.25rem;
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
}

.qiandao .right .title1 {
	width: 2.48rem;
	height: 0.18rem;
	margin-top: 0.18rem;
	background: url(../img/index/1123_06.png) center center no-repeat;
	background-size: 100%;
}

.qiandao .right .title2 {
	font-size: 0.2rem;
	line-height: 0.4rem;
	position: absolute;
	left: 0;
	top: 0.42rem;
}

.qiandao .right .xjtj {
	width: 3.78rem;
	height: 0.28rem;
	position: absolute;
	left: 1.2rem;
	top: 0.46rem;
}

.qiandao .right .xjtj .xjtj1 {
	width: 0.52rem;
	height: 0.25rem;
	background: url(../img/index/1123_10.png) center center no-repeat;
	background-size: 100%;
	float: left;
}

.qiandao .right .xjtj .xjtj2 {
	width: 0.9rem;
	height: 0.14rem;
	background: url(../img/index/131_10.png) center center no-repeat;
	background-size: 100%;
	position: absolute;
	right: 0;
	bottom: 0;
}

.qiandao .right .bottom {
	width: 5.1rem;
	height: 0.76rem;
	position: absolute;
	right: 0.24rem;
	bottom: 0;
}

.qiandao .right .bottom .title5 {
	font-size: 0.2rem;
	line-height: 0.76rem;
	color: #8e8f94;
	font-weight: bold;
	float: left;
}

.qiandao .right .bottom .bottom-pinjia {
	
	height: 0.3rem;
	position: absolute;
	right:0;
	bottom: 0.25rem;
}

.qiandao .right .bottom .tubiao2 {
	width: 0.3rem;
	height: 0.3rem;
	background: url(../img/yj/114_21.png) center center no-repeat;
	background-size: 100%;
	margin-top: 0.05rem;
	float: left;
}

.qiandao .right .bottom .number {
	font-size: 0.18rem;
	font-weight: bold;
	margin-left: 0.1rem;
	line-height: 0.3rem;
	margin-top: 0.05rem;
	float: left;
}