.top{
	width: 100%;
	height: 1rem;
	background: linear-gradient(90deg,#8e83ca,#23be95);
	position: relative;
}
.top-title{
	width: 1.88rem;
	height: 100%;
	/* background: red; */
	margin: 0 auto;
    position: relative;
    padding-top: .14rem;
}
.top-title p{
	font-size: .28rem;
	line-height: .37rem;
	color: #fff;
	font-family: "苹方";
	font-weight: bold;
	text-align: center;
	
}
.top-title p:nth-child(2){
   font-size: .18rem;
   line-height: .18rem;
   color: #e3e3e3;
   font-family:"苹方";
}
.top-xia{
	width: 1.03rem;
	height: .1rem;
	/* background: yellow; */
	margin: 0 auto;
	margin-top: .1rem;
	position: relative;
}
.top-title span{
	font-size: .4rem;
	float: left;
	line-height: .15rem;
	letter-spacing: -.05rem;
	margin-top: -.1rem;
}
.top-title span:nth-child(1){
   position: absolute;
   left: 0;
   bottom:.09rem;
   color: #c7c9c9;
}
.top-title span:nth-child(3){
   position: absolute;
   right: 0;
   bottom:.09rem;
   color: #c7c9c9;
}
.top-title ul{
	float: left;
/* 	height: 150%;
	overflow: hidden; */
}
.top-title ul li:nth-child(1){
	width: .05rem;
	height: .05rem;
	border-radius: 50%;
	background: #3f93f3;
	position: absolute;
	left: .45rem;
	bottom:.02rem ;
}
.top-title ul li:nth-child(2){
	width: .05rem;
	height: .05rem;
	border-radius: 50%;
	background: #3fd624;
	position: absolute;
	left: .55rem;
	bottom:.02rem ;
}
.xia{
	width: 100%;
	height: 2.91rem;
	background: #fff;
}
.xia1{
	width: 1.89rem;
	height: 1.79rem;
	background-image: url('../img/1.png');
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: bottom;
	margin: 0 auto;
}
.xia2{
	width: 1.95rem;
	height: .9rem;
	/* background: yellow; */
	margin: 0 auto;
	margin-top: .1rem;
}
.xia2 p:nth-child(1){
   font-size: .4rem;
   color: #484c4f;
   font-weight: bold;
   text-align: center;
   font-family: "苹方";
   line-height: .4rem;
}
.xia2 p:nth-child(2){
   font-size: .2rem;
   color: #484c4f;
   /* font-weight: bold; */
   text-align: center;
   font-family: "San Francisco";
   line-height: .4rem;
}
.xiaa{
	width: 100%;
	height: 1.78rem;
	background: #f8f8f8;
}
.zuo{
	width: 60%;
    height: 100%;
    /* background: red; */
    float: left;
}
.zuo p:nth-child(1){
	font-size: .24rem;
	font-family: "苹方";
	color: #8b8b8b;
	margin-left: 1.31rem;
	font-weight: bold;
	margin-top: .35rem;
}
.zuo p:nth-child(2){
	font-size: .2rem;
	font-family: "San Francisco";
	color: #bebebe;
	margin-left: 1.31rem;
}
.zuo p:nth-child(4){
	font-size: .24rem;
	font-family: "苹方";
	color: #bcbcbc;
	margin-left: 1.31rem;
	font-weight: bold;
}
.xian{
	width: 1.01rem;
	height: 1px;
	background: yellow;
	margin-top: .1rem;
	margin-left: 1.31rem;
}
.you{
	width: 40%;
	height: 100%;
	/* background: yellowgreen; */
	float: left;
}
.you p:nth-child(1){
	color: #ff7928;
	font-size: .35rem;
	margin-top: .28rem;
	margin-left: .3rem;
	font-weight: bold;
}
.you p:nth-child(2){
	color: #ff7928;
	font-size: .4rem;
	margin-top: .1rem;
	margin-left: .3rem;
	font-weight: bold;
}
.youhui{
	width: 100%;
	height: 5.43rem;
	background-image: url('../img/2.png');
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}
.di{
	width: 6.51rem;
	height: .91rem;
	background: linear-gradient(90deg,#8e83ca,#23be95);
	border: 2px solid #fff;
	border-radius: 5px;
    margin: 0 auto;
    margin-top: .5rem;
    box-shadow: 0rem 0rem .1rem .03rem rgba(0, 0, 0, .1) ;
}
.left li:nth-child(1){
   width: .08rem;
   height: .08rem;
   border-radius: 50%;
   background: #fff;
   float: left;
   margin-top: .2rem;
   margin-right: .22rem;
}
.left li:nth-child(2){
 font-size: .34rem;
 color: #fff;
 font-family: "苹方";
 font-weight: bold;
 float: left;
 margin-right: .14rem;
}
.left li:nth-child(3){
     font-size: .34rem;
 color: #fff;
 font-family: "苹方";
 font-weight: bold;
 float: left;
}
.right li:nth-child(2){
   width: .08rem;
   height: .08rem;
   border-radius: 50%;
   background: #fff;
   float: left;
   margin-top: .2rem;

}