* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	text-decoration: none;
	outline: none;
	font-family: "微软雅黑";
}

ul,
ol,
li {
	list-style: none;
}

a {
	color: #666666;
	text-decoration: none;
}